html {
    background-color: hsl(0, 0%, 8%);
    font-family: 'Inter';
    text-align: center;
    color: white;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.middlebox {
    background-color: hsl(0, 0%, 12%);
    width: 360px;
    border-radius: 20px;
    padding: 1%;
}
img {
    width: 20%;
    border-radius: 50%;
    margin: 10% 40% 5% 40%;
}

h1 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
}
h2 {
    color: hsl(75, 94%, 57%);
    font-size: 0.8rem;
    margin: 10px;
}
p {
    font-size: 0.8rem;
    margin: 40px 0 10px;
}

button {
    color: white;
    font-weight: 600;
    display: block;
    width: 80%;
    height: 40px;
    margin: 5% 10% 5% 10%;
    border: 0px;
    background-color: hsl(0, 0%, 20%);
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: hsl(75, 94%, 57%);
    color: black;
}

.attribution {
    
}
/* Mobile layout: center the card vertically and add small side margins to match the design */
@media (max-width: 375px) {
    .middlebox {
        margin: 0px 20px 0px 20px;
    }

}
